
html {
    font-size: calc(100vw / 375 * 20);
}

body, .app-body {
    width: 99.99%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.text-black {
    color: black;
}

input, textarea {
    border: 1px solid #d6cbcb;
    border-radius: 4px;
}

.button-next {
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 2rem;
    height: 1.6rem;
    z-index: 99;

    -webkit-animation: bounceDown 800ms infinite;
    -o-animation: bounceDown 800ms infinite;
    animation: bounceDown 800ms infinite;

    background: url(../img/cursor.png) no-repeat center / 100% auto;
}

.page {
    background-color: white;
    background-size: 100% auto;
    background-position: center top;
    overflow: hidden;
}

#page-01 {
    background-image: url("../../static/img/index_01.jpg");
}

#bride {
    position: absolute;
    right: 0;
    bottom: -8rem;
    width: 50%;
    -webkit-transition: bottom 3s;
    -moz-transition: bottom 3s;
    -ms-transition: bottom 3s;
    -o-transition: bottom 3s;
    transition: bottom 3s;
}
#page-01.animate #bride {
    bottom: 0;
    -webkit-animation: bounceDown 4s ease-in-out 3s infinite;
    -o-animation: bounceDown 4s ease-in-out 3s infinite;
    animation: bounceDown 4s ease-in-out 3s infinite;
}

#bridegroom {
    position: absolute;
    left: 0;
    bottom: -8rem;
    width: 50%;
    -webkit-transition: bottom 2s;
    -moz-transition: bottom 2s;
    -ms-transition: bottom 2s;
    -o-transition: bottom 2s;
    transition: bottom 2s;
}
#page-01.animate #bridegroom {
    bottom: 0;

    -webkit-animation: bounceDown 4s ease-in-out 2s infinite;
    -o-animation: bounceDown 4s ease-in-out 2s infinite;
    animation: bounceDown 4s ease-in-out 2s infinite;
}


#page-02 {
    background-image: url("../../static/img/index_02.jpg");
}
#page-02 p, #page-02 h3 {
    margin: 0;
}
#page-02 #invite-content {
    position: absolute;
    top: 12rem;
    left: 0;
    bottom: 2rem;
    width: 100%;
    font-size: 0.7rem;
    line-height: 2.2em;
    font-weight: bold;
    text-align: center;
    color: #f36978;
}
#page-02 #invite-content .swiper-slide {
    height: 20rem;
}


#page-02 #heart,
#page-02 #heart-shadow{
    width: 2.4rem;
    position: absolute;
    top: 3.9rem;
    left: 0;
    right: 0;
    margin: auto;
}
#page-02.animate #heart {
    -webkit-animation: pound .5s infinite;
    -o-animation: pound .5s infinite;
    animation: pound .5s infinite;
}
#page-02.animate #heart-shadow {
    -webkit-animation: poundShadow .5s infinite;
    -o-animation: poundShadow .5s infinite;
    animation: poundShadow .5s infinite;
}


#page-03 {
    background-image: url(../img/index_03.jpg);
}

#photo-gallery {
    height: 100%;
}

#page-03 #photo-gallery .photo {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
}
#page-03 #photo-gallery .photo img {
    border: 8px solid white;
    box-shadow: 0 0 6px #888;
    max-width: 86%;
    max-height: 90%;
    vertical-align: middle;
}

#page-04 {
    background-image: url("../img/index_04.jpg");
}
#page-04 .addressBtn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4rem;
    margin: auto;
    height: 2.2rem;
    width: 2rem;
    background: url(../img/icon/address.png) center / 100% auto;
}
#page-04.animate .addressBtn {
    -webkit-animation: bounceDown 2s ease-in-out infinite;
    -o-animation: bounceDown 2s ease-in-out infinite;
    animation: bounceDown 2s ease-in-out infinite;
}
#page-04 .map-btn {
    position: relative;
    text-align: right;
    margin-bottom: -2.4rem;
    background-color: rgba(255,255,255,.6);
    z-index: 1;
}
#page-04 .map-btn a {
    display: inline-block;
    width: 4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: white;
    background-color: red;
    text-decoration: none;
}

#map-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24rem;
    z-index: 9;
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);

    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;

    background-color: white;
}
#map-box.show {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#bd-map {
    height: 100%;
}


#page-05 {
    background-image: url("../img/index_05.jpg");
}

#comments-box {
    position: absolute;
    top: 8rem;
    left: 0;
    bottom: 2rem;
    width: 100%;
    font-size: 0.8rem;
}

#comments {
    height: auto;
    color: #f36978;
}

#comments .comments-form {
    margin: 0 1.2rem;
    padding: 0.8rem 0;
    border-top: 1px solid #d6cbcb;
}
#comments .comments-form label {
    width: 20%;
    text-align: center;
}
#comments .comments-form .author-tr {
    line-height: 2.4rem;
}
#comments .comments-form .author-tr input {
    width: 80%;
    height: 1.2rem;
    padding: 2px;
}

#comments .comments-form .comment-tr {
    vertical-align: top;
}
#comments .comments-form .comment-tr label {
    vertical-align: top;
}
#comments .comments-form .comment-tr textarea {
    height: 3.6rem;
    width: 80%;
    resize: none;
}
#comments .comments-form .submitBtn {
    display: block;
    margin: 0.4rem auto;
    width: 70%;
    height: 1.6rem;
    background-color: #fd6a7a;
    color: white;
}

#comments .comments-list ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#comments .comments-list li {
    border-top: 1px solid #d6cbcb;
    padding-top: 0.6rem;
}

#comments .comments-list .author {
    font-weight: bold;
    font-size: 0.9em;
}
#comments .comments-list .comment {
    color: #666;
    margin-left: 1rem;
    line-height: 2em;
}



/*animation*/

@-webkit-keyframes bounceDown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    50% {
        -webkit-transform: translate3d(0,20%,0);
        -moz-transform: translate3d(0,20%,0);
        -ms-transform: translate3d(0,20%,0);
        -o-transform: translate3d(0,20%,0);
        transform: translate3d(0,20%,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@-moz-keyframes bounceDown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    50% {
        -webkit-transform: translate3d(0,20%,0);
        -moz-transform: translate3d(0,20%,0);
        -ms-transform: translate3d(0,20%,0);
        -o-transform: translate3d(0,20%,0);
        transform: translate3d(0,20%,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@-o-keyframes bounceDown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    50% {
        -webkit-transform: translate3d(0,20%,0);
        -moz-transform: translate3d(0,20%,0);
        -ms-transform: translate3d(0,20%,0);
        -o-transform: translate3d(0,20%,0);
        transform: translate3d(0,20%,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@keyframes bounceDown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    50% {
        -webkit-transform: translate3d(0,20%,0);
        -moz-transform: translate3d(0,20%,0);
        -ms-transform: translate3d(0,20%,0);
        -o-transform: translate3d(0,20%,0);
        transform: translate3d(0,20%,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}


@-webkit-keyframes pound {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: none;
    }
}
@-moz-keyframes pound {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: none;
    }
}
@-o-keyframes pound {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: none;
    }
}
@keyframes pound {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: none;
    }
}


@-webkit-keyframes poundShadow {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    to {
        transform: scale(1.6);
        opacity: 0;
    }
}
@-moz-keyframes poundShadow {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    to {
        transform: scale(1.6);
        opacity: 0;
    }
}
@-o-keyframes poundShadow {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    to {
        transform: scale(1.6);
        opacity: 0;
    }
}
@keyframes poundShadow {
    from {
        transform: none;

        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    to {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0) translateZ(0);
        -moz-transform: rotate(0) translateZ(0);
        -ms-transform: rotate(0) translateZ(0);
        -o-transform: rotate(0) translateZ(0);
        transform: rotate(0) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
        -moz-transform: rotate(360deg) translateZ(0);
        -ms-transform: rotate(360deg) translateZ(0);
        -o-transform: rotate(360deg) translateZ(0);
        transform: rotate(360deg) translateZ(0);
    }
}


#load-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}
#load-mask .heart-shadow,
#load-mask .heart {
    width: 4rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#load-mask .heart {
    -webkit-animation: pound .5s infinite;
    -o-animation: pound .5s infinite;
    animation: pound .5s infinite;
}
#load-mask .heart-shadow {
    -webkit-animation: poundShadow .5s infinite;
    -o-animation: poundShadow .5s infinite;
    animation: poundShadow .5s infinite;
}

#load-mask.hide {
    -webkit-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -o-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}


#music-box .audioObj {
    display: none;
}

#music-box .audioBtn {
    display: block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/icon/audio.png");
    background-size: cover;
}
#music-box .audioBtn.play {
    -webkit-animation: rotate 4s linear infinite;
    -o-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
}
